vendor
node_modules
npm-debug.log
yarn-error.log
.env
.git
.gitignore
docker-compose.yml
public/storage
storage/app/public
storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
